</br>
<div class="panel panel-default products">
  <table class="table table-bordered">
    <thead>
      <h4>We have <%= @count2 %> products and <%= @count %> categories </h4>
      <tr>
        <th>Category ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.sort.each do |each| %>  
        <%= render 'category', category: each%>
      <% end %>
    </tbody>
  </table>
</div>
